# Core
pyrogram
tgcrypto-pyrofork
playwright
###   playwright install

# Analyze
plotly
pandas
dash

# Utils
python-i18n[YAML]
phonenumbers
dotenv
loguru
tqdm
InquirerPy
pyexiv2
aiohttp
bs4

# Development
pytest
pytest-cov